#!/bin/bash
set -e

cd $HOME

echo "TODO CLONE SOURCE"

echo "Building with buildah upstream image"
echo "Building from baseimage $BASE_IMAGE"
echo "Using registry $REGISTRY_BASE"
echo "Using image name $IMAGE_NAME"
echo "$DOCKERFILE" > Dockerfile
cat Dockerfile
buildah bud -t $IMAGE_NAME -f Dockerfile .
buildah push --creds $REGISTRY_USER:$REGISTRY_KEY $IMAGE_NAME docker://$REGISTRY_BASE/$IMAGE_NAME
